# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# Data files
data/

# macOS
.DS_Store

# VS Code
.vscode/

# JetBrains
.idea/

# Pytest
.pytest_cache/
data/master_resume.txt
data/master_resume.txt
